### Ejercicio 1

In [88]:
import pandas as pd
import numpy as np
import random

In [61]:
caracteristica = np.arange(6,21)
etiqueta = np.arange(15)
dato = list(set(caracteristica + etiqueta))
print(dato)

[32, 34, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Ejercicio 2

In [70]:
for dato1 in etiqueta:
    P1 = dato1 - 2
    P2 = dato1 +  2

In [96]:
 random.randrange(1, 100, 10)

11

### Ejercicio 3

In [147]:
Ejercio3df = pd.DataFrame()
Ejercio3df['Data Warehouse'] = np.arange(1,11)*4
Ejercio3df['Python in Data Science'] = np.arange(1,11)*3
Ejercio3df['Estadistica Aplicada'] = np.arange(1,11)*2
Ejercio3df['Promedio'] = np.mean(Ejercio3df.iloc[0])

In [148]:
Ejercio3df

   Data Warehouse  Python in Data Science  Estadistica Aplicada  Promedio
0               4                       3                     2       3.0
1               8                       6                     4       3.0
2              12                       9                     6       3.0
3              16                      12                     8       3.0
4              20                      15                    10       3.0
5              24                      18                    12       3.0
6              28                      21                    14       3.0
7              32                      24                    16       3.0
8              36                      27                    18       3.0
9              40                      30                    20       3.0

In [112]:
Ejercio3df.iloc[0:5]

   Data Warehouse  Python in Data Science  Estadistica Aplicada
0               4                       6                     2
1               8                      12                     4
2              12                      18                     6
3              16                      24                     8
4              20                      30                    10

In [119]:
Ejercio3df.iloc[5:10]

   Data Warehouse  Python in Data Science  Estadistica Aplicada
5              24                      36                    12
6              28                      42                    14
7              32                      48                    16
8              36                      54                    18

In [138]:
Ejercio3df.iloc[:,0]

1    8
Name: Data Warehouse, dtype: int32

In [139]:
Ejercio3df.iloc[:,2]

1    4
Name: Estadistica Aplicada, dtype: int32

### Ejercicio 4

In [149]:
# Seed para reproducibilidad
np.random.seed(42)
# Creamos un arreglo que en su mayoria contiene Nans con algunos "puntos de inflexion" (local min/max).
precios = np.full(100, fill_value=np.nan)
precios[[0, 25, 60, -1]] = [80., 30., 75., 50.]

# De manera lineal interpolamos los valores faltantes y agregamos ruido.
x = np.arange(len(precios))
es_valido = ~np.isnan(precios)
precios = np.interp(x=x, xp=x[es_valido], fp=precios[es_valido])
precios += np.random.randn(len(precios)) * 2
precios

array([80.99342831, 77.7234714 , 77.29537708, 77.04605971, 71.53169325,
       69.53172609, 71.15842563, 67.53486946, 63.06105123, 63.08512009,
       59.07316461, 57.06854049, 56.48392454, 50.17343951, 48.55016433,
       48.87542494, 45.97433776, 46.62849467, 42.18395185, 39.1753926 ,
       42.93129754, 37.5484474 , 36.13505641, 31.15050363, 30.91123455,
       30.22184518, 28.98372713, 33.32282461, 32.65586548, 34.55946964,
       35.2251582 , 41.41884208, 38.97300555, 38.17029243, 43.2165184 ,
       40.41545556, 44.56058433, 41.50923118, 44.05791362, 48.39372247,
       50.76264745, 50.91416513, 51.62584629, 52.54064975, 51.47152745,
       54.2745973 , 56.07872246, 60.39995874, 60.25866515, 57.33106255,
       62.79102508, 62.65840687, 63.36044171, 67.22335258, 69.34771333,
       70.43398881, 68.17870781, 70.52443239, 73.09109829, 75.66537597,
       74.04165152, 73.98765641, 71.50527877, 70.68450983, 74.06094908,
       74.50735185, 71.00982591, 72.51988631, 70.59506692, 67.94052972,
       69.3125348 , 71.02479108, 67.23604023, 69.79595398, 60.78615082,
       67.02842039, 64.91768388, 63.5045494 , 63.64506001, 58.84537499,
       61.7401434 , 62.25268668, 63.85322399, 59.21986982, 57.99839741,
       57.97084489, 60.16413757, 58.34980991, 55.99176164, 57.43679128,
       55.96338587, 57.06549511, 53.0830733 , 53.19082955, 52.4209119 ,
       49.63707267, 52.51531748, 51.80416183, 50.65125255, 49.53082573])